<%- contentFor('body') %>
<% if(sucess){ %>
<script>
    alert("<%=sucess %>");
</script>
<% } %>
<div class="jumbotron text-center">
    <form method="get">
        <label from="from">De:</label>
        <select id="from" onchange="functionTo()">
            <option value="0"> De</option>
            <% for(param of params) { %>
            <option value="<%=param %>"> <%=param %></option>
            <%
                }
                %>
        </select>
        <label from="to">Para:</label>

        <select id="to" onchange="functionFrom()">
            <option value="0"> Para</option>
            <% for(param of params) { %>
            <option value="<%=param %>"> <%=param%></option>
            <%
            }
            %>
        </select>
        <a href="#" id='button' class="btn btn-submit">Pesquisar</a>
    </form>
</div>
<script>

    function functionTo() {
        var to = document.getElementById('to').value
        var from = document.getElementById('from').value;


        var url = "/quote/" + to + "/" + from;
        console.log(url)
        document.getElementById('button').href = url.toString();

    }
    function functionFrom() {
        var to = document.getElementById('to').value
        var from = document.getElementById('from').value;

        var url = "/quote/" + to + "/" + from;
        console.log(url)
        document.getElementById('button').href = url.toString();

    }



</script>